.dataTables_wrapper .dataTables_length {
    display: inline-block;
}

.dataTables_wrapper .dataTables_filter {
    display: inline-block;
    float: right;
}

.note-editor {
    box-shadow: none;
    border: 1px solid #d8d8d8;
}
